# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CommandPattern.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\__PROJETS\__GITHUB\unityDesignPattern_Holistic3D\CommandPattern\.idea\.idea.CommandPattern\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
